*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#thank-you-flex { 
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 31px;
  align-items: center;
  margin-bottom: 50px;
}

#thank-you-submit {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #7B876D;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  padding: 5px;
}

@media (max-width: 390px) {
  #thank-you-flex {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 17px;
    align-items: center;
    margin-bottom: 50px;
  }

  #thank-you-submit {
    width: 70;
    margin: 0 auto;
  }
  
}

